{% extends "base.html" %}

{% block content %}

<div class="form-container">

    <h2>Admin Login 👨‍💼</h2>

    <form method="POST">

        <label>Email</label>

        <input
            type="email"
            name="email"
            placeholder="Admin Email"
            required
        >

        <label>Password</label>

        <input
            type="password"
            name="password"
            placeholder="Admin Password"
            required
        >

        <button type="submit">
            Admin Login
        </button>

    </form>

</div>

{% endblock %}